.detailsPage .character-counter {
	color: #008cba;
}

.detailsPage .section {
	padding-top: 4vw;
	padding-bottom: 1vw;
	margin-left: 10px;
	margin-right: 10px;
}

.detailsPage .nav-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.detailsPage .container table {
	border: 2px solid #3c8dbc;
	text-align: center;
	font-size: 15px;
	width: 100%;
}

.detailsPage .container td {
	border: 1px solid #3c8dbc;
	text-align: center;
	vertical-align: middle;
	padding: 3px;
	width: 50px;
}

.detailsPage td.greyMatter {
	background-color: #e2e2e2;
}

.detailsPage .theoryTime {
	background-color: #ccccff;
}

.detailsPage .labTime {
	background-color: #99ccff;
}

.detailsPage .theorySlots {
	background-color: #ffffcc;
}

@media only screen and (max-width: 1300px) {
	.detailsPage table.timetable {
		display: block;
	}
}

.detailsPage table.timetable {
	overflow-x: auto;
	white-space: nowrap;
}

.detailsPage td a {
	text-decoration: none;
	color: unset;
}
